<launch>
<include file="$(find kobuki_gazebo)/launch/kobuki_empty_world.launch"/>
<node name="ConstantCommand" pkg="cs1567p0" type="ConstantCommand.py"/>
<node name="MazeGenerator" pkg="cs1567p1" type="MazeGenerator.py" output="screen"/>
<node name="KobukiState" pkg="cs1567p1" type="KobukiStateUpdate.py" output="screen"/>
</launch>
